{% extends "base.html" %}
{% block start %}

 <div class="container mt-5">
    <form class="col-6 mx-auto card p-2" method="post" enctype="multipart/form-data">
      {% csrf_token %} 
      <h2>Add Recepie</h2>
       <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recepie name</label>
          <input name="recepie_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recepie Description</label>
         <textarea  name="recepie_description" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">File Upload</label>
          <input name=" recepie_image" type="file" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-success">Add Recepie</button>
      </form>
 </div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Recepie Name</th>
      <th scope="col">Recepie Description</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for recepie in recepies %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recepie.recipie_name}}</td>
      <td>{{recepie.recipie_description}}</td>
      <td><img src="/media/{{recepie.recipie_image}}" style="height: 200px;"></td>
      <td><a href="/delete-recepie/{{recepie.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
{% endblock %}